/EJBRemoteInterface/build/
/Assignment2EJBModule/build/
/EJBRemoteInterface/dist/
/Assignment2EJBModule/dist/
/WebServiceTier/build/
/WebServiceTier/dist/
/HelloWorld/nbproject/private/
/HelloWorld/dist/
/HelloWorld/build/